<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>remoteAccessConsumerKey</key>
	<string>3MVG9l2zHsylwlpSi2zB.Tm0Ie2NU8gKRt9f78TQFUtGSPQIu0PJOWvRvXeX_2zFtlsIzmnWEq6yo56QkjrM9</string>
	<key>oauthRedirectURI</key>
	<string>testsfdc:///mobilesdk/detect/oauth/done</string>
	<key>oauthScopes</key>
	<array>
		<string>web</string>
		<string>offline_access</string>
		<string>api</string>
	</array>
	<key>shouldAuthenticate</key>
	<true/>
</dict>
</plist>
